    	<div class="container">
           	<% #provide(:title, 'Artist Sign up') %>
    		<h2>Artist Sign Up</h2>
            <%= form_for(@artist, :html => { :class => "form-horizontal" }) do |f| %>
            	<!-- Form Data Validation/Error Generation occurs here -->
                <% if @artist.errors.any? # .any? returns true if any values in hash, similar but opposite to .empty?%>
                	<div class="alert alert-error">
                    	The form contains <%= pluralize(@artist.errors.count, "error")%>  <!-- count returns number of errors -->
                        <ul>
                        	<% @artist.errors.full_messages.each do |msg| %>
                            	<li>* <%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
              	<% end %>
       			<!--/Form Validation end -->

                <!-- The actual form. Rails converts this to html -->
                <table width="500">
					<tr>
						<td class="signup-left"><%= f.label :name %></td>
						<td class="signup-right"><%= f.text_field :name, :class => "signup-fields" %></td>
					</tr>
					<tr>
                		<td class="signup-left"><%= f.label :email %></td>
						<td class="signup-right"><%= f.text_field :email, :class => "signup-fields" %></td>
					</tr>
                    <tr>
                        <td class="signup-left"><%= f.label :picture %>(Optional)</td>
                        <td class="signup-right"><%= f.file_field :picture %></td>
                    </tr>

					<tr>
                		<td class="signup-left"><%= f.label :password %></td>
						<td class="signup-right"><%= f.password_field :password, :class => "signup-fields" %></td>
        			</tr>
					<tr>
                		<td class="signup-left"><%= f.label :password_confirmation, "Confirmation" %></td>
						<td class="signup-right"><%= f.password_field :password_confirmation, :class => "signup-fields" %></td>
					</tr>
					<tr>
                		<td colspan="2"><%= f.submit "Create my account", class: "btn btn-large btn-primary signup-button" %></td>
					</tr>
				</table>
            <% end %>
  		</div>