<nav class="navbar navbar-default navbar-fixed-top music-nav" role="navigation">
        
			<%= image_tag "logo.png", :class => "navbar-left" %>
                <form class="navbar-form navbar-right" role="search">
                	<ul class="nav navbar-nav">
            			<li><a href="#">Sign Up</a></li>
                        <li class="dropdown">
        					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Log In <b class="caret"></b></a>
            		</ul>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </ul>
    	</nav>
    	<div class="container">
           	<% #provide(:title, 'Artist Sign up') %>
    		<h2>Artist Sign Up</h2>
            <%= form_for(@artist, :html => { :class => "form-horizontal" }) do |f| %>
            	<!-- Form Data Validation/Error Generation occurs here -->
                <% if @artist.errors.any? # .any? returns true if any values in hash, similar but opposite to .empty?%>
                	<div class="alert alert-error">
                    	The form contains <%= pluralize(@artist.errors.count, "error")%>  <!-- count returns number of errors -->
                        <ul>
                        	<% @artist.errors.full_messages.each do |msg| %>
                            	<li>* <%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
              	<% end %>
       			<!--/Form Validation end -->

                <!-- The actual form. Rails converts this to html -->
                
                <%= f.label :name %>
                <%= f.text_field :name, :class => "signup-fields" %>
                
                <%= f.label :email %>
                <%= f.text_field :email, :class => "signup-fields" %>
                    
                <%= f.label :password %>
                <%= f.password_field :password, :class => "signup-fields" %>
        		
                <%= f.label :password_confirmation, "Confirmation" %>
                <%= f.password_field :password_confirmation, :class => "signup-fields" %>
        		
                <%= f.submit "Create my account", class: "btn btn-large btn-primary", :class => "signup-button" %>
            <% end %>
  		</div>