    <div class="container">
      <table width="800" border="0" cellspacing="0" cellpadding="0">
	    <tr>
	      <td class="artist-cover" rowspan="2"><%= image_tag @artist.photo_url, :class => "img-thumbnail" %></td>
	      <td class="artist-name"><h2><%=@artist.name%></h2></td>
        </tr>
	    <tr>
	      <td class="artist-desc"><h4> <%=@artist.description%></h4></td>
        </tr>
      </table>
      <fieldset>
        	<legend align="left">Albums</legend>
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
            	<tr class="albums">

                	<%@albums.each do |album| %>
                    <td>
                        <%= image_tag "album_cover.jpg", :class => "img-thumbnail" %>
                        <h4><%=album.title%></h4>
                        <h6> <%=album.release_date%></h6>
                    </td>
                    <%end%>
           	  </tr>
          </table>
        </fieldset>
        </div>