<% provide(:title, "Sign in") %>


<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1>Artist Sign In</h1>

<div class="container">
  <div class="span6 offset3">
    <%= form_for(:artist_session, url: artist_sessions_path, :html => { :class => "form-horizontal" }) do |f| %>


        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Don't have an Artist account? <%= link_to "Sign up now!", artist_sign_up_path %></p>
  </div>
</div>