<div class="container">

<% provide(:title, "Sign In") %>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1>Sign In</h1>


  <div class="span6 offset3">
    <%= form_for(:artist_session, url: artist_sessions_path, :html => { :class => "form-horizontal" }) do |f| %>

		<table width="500">
			<tr>
        		<td class="signup-left"><%= f.label :email %></td>
        		<td class="signup-right"><%= f.text_field :email %></td>
			</tr>
			<tr>
        		<td class="signup-left"><%= f.label :password %></td>
        		<td class="signup-right"><%= f.password_field :password %></td>
			</tr>
			<tr>
        		<td colspan="2"><%= f.submit "Sign in", class: "btn btn-large btn-primary" %></td>
			</tr>
		</table>
    <% end %>

    <p>Don't have an Artist account? <%= link_to "Sign up now!", artist_sign_up_path %></p>
  </div>
</div>