    <div class="container">
	  <h3>
      		Fan.Music is placeholdertext for a website we are currently building. It is named this as to
        	parody the name of John Roberts' real company. I thought it was pretty funny, but it's simply
        	placeholder for now.
      	</h3>
        <fieldset>
        	<legend align="left">Top Albums</legend>
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
            	<tr align="center">
                	<td>
                    	<a href="/album"><%= image_tag "album_cover.jpg", :class => "img-thumbnail" %></a>
						<a href="/album"><h4>Stomach Cramp</h4></a>
						<h6> By Gatormouth</h6>
                  </td>
                	<td>
                    	<%= image_tag "album_cover.jpg", :class => "img-thumbnail" %>
				    <h4>Stomach Cramp</h4>
                    	<h6> By Gatormouth</h6>
                    </td>
                	<td>
                    	<%= image_tag "album_cover.jpg", :class => "img-thumbnail" %>
				    <h4>Stomach Cramp</h4>
                    	<h6> By Gatormouth</h6>
                    </td><td>
                    	<%= image_tag "album_cover.jpg", :class => "img-thumbnail" %>
				    <h4>Stomach Cramp</h4>
                    	<h6> By Gatormouth</h6>
                    </td>
           	  </tr>
          </table>
        </fieldset>
        <fieldset>
        	<legend align="left">Discover Albums</legend>
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
            	<tr>
                	<td>
                    	<%= image_tag "album_cover.jpg", :class => "img-thumbnail" %>
						<h4>Stomach Cramp</h4>
                    	<h6> By Gatormouth</h6>
                    </td>
                    <td>
                    	<%= image_tag "album_cover.jpg", :class => "img-thumbnail" %>
						<h4>Stomach Cramp</h4>
                    	<h6> By Gatormouth</h6>
                    </td>
                    <td>
                    	<%= image_tag "album_cover.jpg", :class => "img-thumbnail" %>
						<h4>Stomach Cramp</h4>
                    	<h6> By Gatormouth</h6>
                    </td>
                    <td>
                    	<%= image_tag "album_cover.jpg", :class => "img-thumbnail" %>
						<h4>Stomach Cramp</h4>
                    	<h6> By Gatormouth</h6>
                    </td>
           	  </tr>
          </table>
        </fieldset>
      </div>