<body>
    	<nav class="navbar navbar-default navbar-fixed-top music-nav" role="navigation">
        
			<%= image_tag "logo.png", :class => "navbar-left" %>
                <form class="navbar-form navbar-right" role="search">
                	<ul class="nav navbar-nav">
            			<li><a href="#">Sign Up</a></li>
                        <li class="dropdown">
        					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Log In <b class="caret"></b></a>
            		</ul>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </ul>
    	</nav>
    <div class="container">
	  <h3>
      		Fan.Music is placeholdertext for a website we are currently building. It is named this as to
        	parody the name of John Roberts' real company. I thought it was pretty funny, but it's simply
        	placeholder for now.
      	</h3>
        <fieldset>
        	<legend align="left">Top Albums</legend>
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
            	<tr>
                	<td>
                    	<a href="/album"><%= image_tag "album_cover.jpg", :class => "img-thumbnail" %></a>
						<a href="/album"><h4>Stomach Cramp</h4></a>
						<h6> By Gatormouth</h6>
                  </td>
                	<td>
                    	<%= image_tag "album_cover.jpg", :class => "img-thumbnail" %>
						<h4>Stomach Cramp</h4>
                    	<h6> By Gatormouth</h6>
                    </td>
                	<td>
                    	<%= image_tag "album_cover.jpg", :class => "img-thumbnail" %>
						<h4>Stomach Cramp</h4>
                    	<h6> By Gatormouth</h6>
                    </td><td>
                    	<%= image_tag "album_cover.jpg", :class => "img-thumbnail" %>
						<h4>Stomach Cramp</h4>
                    	<h6> By Gatormouth</h6>
                    </td>
           	  </tr>
          </table>
        </fieldset>
        <fieldset>
        	<legend align="left">Discover Albums</legend>
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
            	<tr>
                	<td>
                    	<%= image_tag "album_cover.jpg", :class => "img-thumbnail" %>
						<h4>Stomach Cramp</h4>
                    	<h6> By Gatormouth</h6>
                    </td>
                    <td>
                    	<%= image_tag "album_cover.jpg", :class => "img-thumbnail" %>
						<h4>Stomach Cramp</h4>
                    	<h6> By Gatormouth</h6>
                    </td>
                    <td>
                    	<%= image_tag "album_cover.jpg", :class => "img-thumbnail" %>
						<h4>Stomach Cramp</h4>
                    	<h6> By Gatormouth</h6>
                    </td>
                    <td>
                    	<%= image_tag "album_cover.jpg", :class => "img-thumbnail" %>
						<h4>Stomach Cramp</h4>
                    	<h6> By Gatormouth</h6>
                    </td>
           	  </tr>
          </table>
        </fieldset>
      </div>
    </body>