	<% provide(:title, "Home") %>
    <div class="container">
	  	<h3>
      		SongShare is a place for artists and their fans to connect and share music to the world.
      	</h3>
        <fieldset>
        	<legend align="left">What's New?</legend>
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
            	<tr align=center>
					<%countx = 0 %>
					<% @albums.each do |album| %>
						<% countx += 1 %>
						<td>
							<%= link_to (image_tag album.album_artwork_url, width: '175', height: '175', :class => "img-thumbnail"), 
                            '/albums/' + album.id.to_s %>
							<h4><%= link_to album.title, '/albums/'+album.id.to_s %></h4>
							<% artist = Artist.find(album.artist_id) %>
							<h6> By <%= link_to artist.name, '/artists/'+artist.id.to_s %></h6>
						</td>
						<% break if (countx == 4) %>
					<% end %>
           	  </tr>
          </table>
        </fieldset>
		<fieldset>
        	<legend align="left">Just Released</legend>
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
            	<tr align=center>
					<%county = 0%>
					<%@albums2.each do |album2| %>
						<% county += 1 %>
						<td>
							<%= link_to (image_tag album2.album_artwork_url, width: '175', height: '175', :class => "img-thumbnail"), 
                            '/albums/' + album2.id.to_s %>
							<h4><%= link_to album2.title, '/albums/'+album2.id.to_s %></h4>
							<% artist2 = Artist.find(album2.artist_id) %>
							<h6> By <%= link_to artist2.name, '/artists/'+artist2.id.to_s %></h6>
						</td>
						<% break if (county == 4) %>
					<% end %>
           	  </tr>
          </table>
        </fieldset>
      </div>