<%= form_for(@album, url: @url, :html => { :class => "form-horizontal" }) do |f| %>
	<fieldset>
    	<legend>Album Information</legend>
		<%= f.hidden_field :artist_id, value: @artist.id%>
        <table width="500">
			<tr>
        		<td class="signup-left"><%= f.label :title, "Title" %></td>
        		<td class="signup-right"><%= f.text_field :title%></td>
			</tr>
			<tr>
        		<td class="signup-left"><%= f.label :release_date, "Release Date" %></td>
        		<td class="signup-right"><%= f.text_field :release_date%></td>
            </tr>
			<tr>
        		<td class="signup-left"><%= f.label :genre, "Genre: " %></td>
        		<td class="signup-right"><%= f.text_field :genre%></td>
            </tr>
			<tr>
        		<td class="signup-left"><%= f.label :credits, "Credits" %></td>
        		<td class="signup-right"><%= f.text_field :credits%></td>
            </tr>
			<tr>
        		<td class="signup-left"><%= f.label :album_artwork_url, "Album Cover:" %></td>
        		<td class="signup-right"><%= f.file_field :album_artwork_url %></td>
			</tr>
			<tr>
        		<td colspan="2"><%= f.submit @submit, class: "btn btn-large btn-primary signup-button" %></td>
			</tr>
		</table>
    </fieldset>
<%end%>

