	<div class="container">
      <table width="800" border="0" cellspacing="0" cellpadding="0"  class="album-info">
	    <tr>
	      <td rowspan="2"><%= image_tag @album.album_artwork_url,width: '175', height: '175', :class => "img-thumbnail" %></td>
	      <td><h2> <%=@album.title%> </h2></td>
        </tr>
	    <tr>
	      <td><h4> By <%=@artist.name%> </h4></td>
        </tr>
      </table>
      <fieldset>
    <legend align="left">Songs</legend>
      </fieldset>
      <table width="500" border="1" cellspacing="0" cellpadding="0"  class="album-info">

      <%@songs.each do |song|%>
        <tr>
        <td class="play" width="40" class="song-icons">
          <audio preload="metadata"> <source src=<%=song.source_url%>> </audio>
          <span class="glyphicon glyphicon-play"></span></td>
        <td width="380" class="song-title"><b><%=song.track_number%>. <%=song.title%></b></td>

        <!-- download link -->
        <td width="40" class="song-icons">
        <% if song.is_downloadable%>
          <%=link_to ('/download/' + song.id.to_s), method: 'post' do %>
            <span class="glyphicon glyphicon-cloud-download"></span>
          <%end%>
        <%end%>
        </td>
          <!-- <td width="40" class="song-icons"><span class="glyphicon glyphicon-new-window"></span></td> -->

        <!-- show add to playlist '+' button if fan is logged in -->
        <%if current_fan %>
            <td width="40" class="song-icons">
    		  	<div id="myDropdown" class="dropdown">
    				<a id="dLabel" role="button" href="#" data-toggle="dropdown" data-target="#" >
    				<span class="glyphicon glyphicon-plus"></span>
    				</a>

            <!-- Dropdown for adding song to playlist -->
    				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li class="dropdown-header">Add Song to Playlist</li>
              <!-- display existing fan playlists to add song to -->
            <%@playlists.each do |playlist|%>
              <li class='playlist-title' id="<%= song.id%>" onclick="addsong(this)" ><%= playlist.title%></li>
            <%end%>

            <li role="presentation" class="divider"></li>
            <!-- form to create new playlist -->
      			<li><%=form_for @new_playlist do |f|%>
                  <%= f.text_field :title, placeholder: 'new playlist'%>
                  <%= f.hidden_field :song_id, value: song.id %>
                  <%= f.hidden_field :album_id, value: @album.id %>
                  <%= f.submit 'Create', class: "btn" %>
                  <%end%>
            </li>
    				</ul>
			</div>
		  </td>
          <%end%>
        </tr>
      <%end%>

      </table>
      <span class="song-credits">
      	Credits: <%=@album.credits%>
      </span>
    </div>

    <script>

        function addsong(domObject)
        {
            var song_id= domObject.id;
            var playlist_name= domObject.innerText;

            //AJAX handing data over to ruby/rails controller via post
            $.ajax({
                url: "/playlists/add_song",
                type: "POST",
                data: {songid: song_id , playlistname: playlist_name}

            });

        }



    </script>
